In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
df = pd.read_csv('../personality_dataset.csv')
df.head()

,Time_spent_Alone,Stage_fear,Social_event_attendance,Going_outside,Drained_after_socializing,Friends_circle_size,Post_frequency,Personality
0,4.0,No,4.0,6.0,No,13.0,5.0,Extrovert
1,9.0,Yes,0.0,0.0,Yes,0.0,3.0,Introvert
2,9.0,Yes,1.0,2.0,Yes,5.0,2.0,Introvert
3,0.0,No,6.0,7.0,No,14.0,8.0,Extrovert
4,3.0,No,9.0,4.0,No,8.0,5.0,Extrovert

In [ ]:
df.shape

(2900, 8)

### Dataset Information

features - 7 
datapoints - 2900

In [ ]:
for column in df.columns:
    print(f"Column: {column}")
    print(df[column].unique())
    print(" =======================================\n")

Column: Time_spent_Alone
[ 4.  9.  0.  3.  1.  2. 10.  6.  5.  8. nan  7. 11.]
 ================================================

Column: Stage_fear
['No' 'Yes' nan]
 ================================================

Column: Social_event_attendance
[ 4.  0.  1.  6.  9.  7.  8.  3.  5.  2. 10. nan]
 ================================================

Column: Going_outside
[ 6.  0.  2.  7.  4.  5. nan  3.  1.]
 ================================================

Column: Drained_after_socializing
['No' 'Yes' nan]
 ================================================

Column: Friends_circle_size
[13.  0.  5. 14.  8.  6.  7. 15.  4. 10.  1. 12.  2. 11.  9.  3. nan]
 ================================================

Column: Post_frequency
[ 5.  3.  2.  8.  6.  7.  0. 10.  4.  1.  9. nan]
 ================================================

Column: Personality
['Extrovert' 'Introvert']
 ================================================

In [ ]:
df.isna().sum()

Time_spent_Alone             63
Stage_fear                   73
Social_event_attendance      62
Going_outside                66
Drained_after_socializing    52
Friends_circle_size          77
Post_frequency               65
Personality                   0
dtype: int64

In [ ]:
df.duplicated().sum()

388

In [ ]:
for column in df.columns:
    print(f"Column: {column}")
    print(df["Time_spent_Alone"].value_counts())
    print(" ================================================\n")

Column: Time_spent_Alone
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Stage_fear
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Social_event_attendance
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Going_outside
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Drained_after_socializing
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Friends_circle_size
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Post_frequency
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================

Column: Personality
Time_spent_Alone
0.0     369
2.0     357
3.0     353
1.0     326
9.0     206
10.0    196
4.0     190
7.0     190
5.0     180
8.0     180
6.0     150
11.0    140
Name: count, dtype: int64
 ================================================